{% load static %}

<footer>
    <div class="card footer-card"  style="background-image: url('{% static 'images/Footer.png' %}'); border-radius: 0px;">
        <div class="container">
            <div class="card-body p-0">
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col">
                        <img src="{% static 'images/LN_White.png' %}">
                        <div class="social-media-group mt-5">
                            <div class="social-media">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 18" fill="none">
                                  <path d="M19.615 0.184125C16.011 -0.0618748 7.984 -0.0608748 4.385 0.184125C0.488 0.450125 0.029 2.80412 0 9.00012C0.029 15.1851 0.484 17.5491 4.385 17.8161C7.985 18.0611 16.011 18.0621 19.615 17.8161C23.512 17.5501 23.971 15.1961 24 9.00012C23.971 2.81512 23.516 0.451125 19.615 0.184125ZM9 13.0001V5.00013L17 8.99312L9 13.0001Z" fill="#E1E1E1"/>
                                </svg>
                                <p class="text-white mb-0">Youtube</p>
                            </div>
                            <div class="social-media">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                  <path d="M19 0H5C2.239 0 0 2.239 0 5V19C0 21.761 2.239 24 5 24H19C21.762 24 24 21.761 24 19V5C24 2.239 21.762 0 19 0ZM8 19H5V8H8V19ZM6.5 6.732C5.534 6.732 4.75 5.942 4.75 4.968C4.75 3.994 5.534 3.204 6.5 3.204C7.466 3.204 8.25 3.994 8.25 4.968C8.25 5.942 7.467 6.732 6.5 6.732ZM20 19H17V13.396C17 10.028 13 10.283 13 13.396V19H10V8H13V9.765C14.396 7.179 20 6.988 20 12.241V19Z" fill="#E1E1E1"/>
                                </svg>
                                <p class="text-white mb-0">LinkedIn</p>
                            </div>
                        </div>

                    </div>
                    <div class="col d-flex justify-content-end">
                        <div>
                            <h3 class="footer-heading text-white">Resources</h3>
                            <ul class="resource-list">
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Resources</a></li>
                                <li><a href="#">Terms and Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">GDPR</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr  style="border-top: 1px solid rgba(0,0,0,0.2);">

        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 mt-4">
              <div class="col"><p class="footer-ai-venture text-white">© 2025 <a href="/">Leader Navigator</a> . All rights reserved.</p></div>
              <div class="col "><p class="ryzen-footer text-end text-white">Powered by <a href="#" target="_blank">Ryzenforge Enterprises LLP</a> </p></div>
            </div>
        </div>

    </div>
</footer>